@import "../../../assets/scss/variables.scss";

#recruiter-work {
    background-color: $br-orange;
    color: $blk;

    #recruiter-work__items {
        max-width: 1100px;

        .recruiter-work-item {
            width: 80%;
            max-width: 550px;
            text-align: right;
            background-color: $dk-grey;
            padding: 1vw;
            margin-left: 10%;
            margin-bottom: 2vh;
            -webkit-box-shadow: -6px 8px 12px -6px black;
            -moz-box-shadow: -6px 8px 12px -6px black;
            box-shadow: -6px 8px 12px -6px black;

            &:nth-child(even) {
                float: right;
                margin-right: 10%;
            }

            .recruiter-work-item__title {
                width: 100%;
                margin: 0;
                text-align: right;
                color: #fff;
            }

            .recruiter-work-item__subtitle {
                width: 100%;
                margin: 0;
                text-align: right;
                color: #fff;
            }


            .recruiter-work-item__info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: no-wrap;
                text-align: left;
                color: $dk-orange;
                font-size: 1.25em;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                }
            }

            .fa-4x {
                font-size: 64px !important;
            }
        }
    }
}
