<div id="landing-work" class="container">
    <hr class="section-hr section-hr--top section-hr--blank"/>
    <div class="section-contents">

        <h2 class="title">ABOUT MY WORK...</h2>



        <div id="landing-work__items" class="container">


            <div id="landing-work__frontend" class="container landing-work-item">
                <h3 class="container title landing-work-item__title">FRONTEND</h3>
                <h3 class="container title landing-work-item__title">SKILLS</h3>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li><h4>Prefered Framework is Angular 2+</h4></li>
                        <li><h4>Mobile First Responsive Development</h4></li>
                        <li><h4>Single Page Applications (SPAs)</h4></li>
                        <li><h4>Progressive Web Applications (PWAs)</h4></li>
                    </ul>
                </div>
            </div>





            <div id="landing-work__backend" class="container landing-work-item">
                <h3 class="container title landing-work-item__title">BACKEND</h3>
                <h3 class="container title landing-work-item__title">SKILLS</h3>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li><h4>Node.js w/Express Severs</h4></li>
                        <li><h4>RESTful API Devlepment</h4></li>
                        <li><h4>MODx and other CMS</h4></li>
                        <li><h4>Experince with Shopify</h4></li>
                    </ul>
                </div>
            </div>


            <div id="landing-work__interests" class="container landing-work-item">
                <h3 class="container title landing-work-item__title">KEEPS ME UP</h3>
                <h3 class="container title landing-work-item__title">AT NIGHT</h3>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li><h4>Ionic, Hybrid Native Apps</h4></li>
                        <li><h4>Web VR/AR</h4></li>
                        <li><h4>Decentralized Applications</h4></li>
                        <li><h4>Chat and Voice AI</h4></li>
                    </ul>
                </div>
            </div>

        </div>



    </div>
    <hr class="section-hr section-hr--bottom section-hr--blank"/>
</div>
