<div id="landing-work" class="container">
    <hr class="section-hr section-hr--top section-hr--blank"/>

    <div class="section-contents">

        <h2 class="title">ABOUT MY WORK...</h2>

        <div id="landing-work__items" class="container">

            <div id="landing-work__illustrator" class="container landing-work-item">
                <div class="container title landing-work-item__title">PHOTOSHOP</div>
                <div class="container subtitle landing-work-item__subtitle">+ ILLUSTRATOR</div>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li>Work with designers to create responsive sites</li>
                        <li>Interpret website mockups and wireframes</li>
                        <li>Tranlate design into code</li>
                        <li>Pull image and assets</li>
                    </ul>
                </div>
            </div>

            <div id="landing-work__html" class="container landing-work-item">
                <div class="container title landing-work-item__title">HTML</div>
                <div class="container subtitle landing-work-item__subtitle">PAGE ARCHITECTURE</div>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li>Create file from scratch or boilerplate</li>
                        <li>Dynamic structuring</li>
                        <li>Use of industry standard tags</li>
                        <li>Incorperate latest practices of HTML5</li>
                    </ul>
                </div>
            </div>

            <div id="landing-work__css" class="container landing-work-item">
                <div class="container title landing-work-item__title">CSS</div>
                <div class="container subtitle landing-work-item__subtitle">RESPONSIVE DESIGN</div>
                <div class="container landing-work-item__info">
                    <div class="container fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
                    </div>
                    <ul>
                        <li>Mobile first responsive design</li>
                        <li>Create CSS from scratch</li>
                        <li>Create CSS from preprocessor (SCSS)</li>
                        <li>Use of industry naming conventions (BEM)</li>
                    </ul>
                </div>
            </div>

            <div id="landing-work__js" class="container landing-work-item">
                <div class="container title landing-work-item__title">JAVASCRIPT</div>
                <div class="container subtitle landing-work-item__subtitle">INTERACTIVE WEB</div>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li>User interaction and guided experience</li>
                        <li>Fuctional programing</li>
                        <li>DOM manipulation</li>
                        <li>Creating elements and variables</li>
                    </ul>
                </div>
            </div>

            <div id="landing-work__angular" class="container landing-work-item">
                <div class="container title landing-work-item__title">WEB APPS</div>
                <div class="container subtitle landing-work-item__subtitle">ANGULAR</div>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li>Angular 5, prefered framework</li>
                        <li>Dynamic front-end web application</li>
                        <li>Client side storage</li>
                        <li>Progressive Web Apps (PWAs)</li>
                    </ul>
                </div>
            </div>

            <div id="landing-work__node" class="container landing-work-item">
                <div class="container title landing-work-item__title">NODE</div>
                <div class="container subtitle landing-work-item__subtitle">WEB SERVER</div>
                <div class="container landing-work-item__info">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <ul>
                        <li>Real time applications and sockets</li>
                        <li>Basic routing and API development</li>
                        <li>Server side storage</li>
                        <li>ModX and other CMS experience</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <hr class="section-hr section-hr--bottom section-hr--blank"/>
</div>
