<footer id="app-footer" class="container">
    <hr class="section-hr section-hr--top section-hr--blank"/>

    <div id="footer__social" class="container">
        <ul class='circle-container'>
            <li>
                <a href="https://github.com/chris-milliano"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div id="github" class="circle__item"></div>
                </a>
            </li>
            <li>
                <a href="http://codepen.io/iamchrisdigital/"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div id="codepen" class="circle__item"></div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/chris_milliano"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div id="instagram" class="circle__item"></div>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/ChrisMilliano"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div id="twitter" class="circle__item"></div>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/chris-milliano-574686108/"
                    target="_blank"
                    rel="noopener noreferrer">
                    <div id="linkedin" class="circle__item"></div>
                </a>
            </li>
            <li>
                <a href="mailto:chris@iamchris.digital">
                    <div id="mailto" class="circle__item"></div>
                </a>
            </li>
        </ul>
    </div>

    <div id="footer__made-with-love" class="container">
        <h6 id="made-with-love__text" class="text">
            made with <i class="fa fa-heart" aria-hidden="true"></i> in st.louis
        </h6>
    </div>

</footer>
