<div id="landing-about" class="container">
    <hr class="section-hr section-hr--top"/>
    <div class="section-contents">

        <div class="title">ABOUT ME...</div>

        <div id="about-me-text-and-pic" class="container">
            <div id="about-me-text-container" class="container">
                <div class="text">
                    <p>
                        Hi, I am Chris, a web developer! I work full time
                        at Fusion Marketing as an applications developer,
                        and do freelance web development on the side.
                    </p>
                    <p>
                        I am a 3/4<sup>th</sup> stack developer. Why just
                        3/4<sup>th</sup>? I could just claim to be full stack
                        developer like most do. Sure I can work on any part
                        of the stack in a pinch, but I thrive on the front-end.
                    </p>
                    <p>
                        I am a 3/4<sup>th</sup> stack developer. Why just
                        3/4<sup>th</sup>? I could just claim to be full stack
                        developer like most do. Sure I can work on any part
                        of the stack in a pinch, but I thrive on the front-end.
                    </p>
                    <p>
                        I like science, beer, and anything outdoors with
                        my wife, Angie, and dog, Nova. Whether it is hiking,
                        camping, or anything to do with water.
                    </p>
                </div>
            </div>

            <div id="about-me-pic-container" class="container"></div>
            <div id="about-me-pic-desktop-container" class="container"></div>
        </div>

        <!-- <div id="about-arrows" class="container">

            arrows
        </div> -->

        <div id="about-me-cta-arrow"
            class="container"
            (click)="scrollTo('app-footer')">
            <i class="fa fa-3x fa-arrow-circle-o-down" aria-hidden="true"></i>
            Learn about my work
        </div>

    </div>
    <hr class="section-hr section-hr--bottom"/>
</div>
