<div id="landing-hire" class="container">
    <hr class="section-hr section-hr--top"/>

    <h2 class="title">WANT TO WORK TOGETHER?</h2>

    <div id="hire__text" class="container text">
        <hr/>
        <h3>Full Time - St.Louis</h3>
        <p>
            I currently work full time as an applications developer for Fusion
            Marketing, a subsidiary of Endeavor (Formerly WME|IMG). I am
            generally happy working there, as I am exposed to many opportunities
            to work with various bleeding edge technologies. This being the case,
            I am not actively seeking new full time employment in St. Louis,
            though I am always open to discussions about new opportunities that
            will advance my knowledge of the latest tech.
        </p>
        <hr/>
        <h3>Full Time - California</h3>
        <p>
             I am, however, beginning to actively pursue full time opportunities
             in the Southern California area, specifically San Diego or Los
             Angeles. After nearly 3 decades in St.Louis, I am ready to start a
             new (warmer) chapter of my life.
        </p>
        <hr/>
        <h3>Freelance</h3>
        <p>
            I am always available for freelance hire. If you have any projects
            you would like to work together on please contact me. I would love
            to chat, especially over coffee or a beer!
        </p>
        <hr/>
    </div>

    <div id="landing-hire__cta" class="container">
        <div class="button" routerLink="/hire">
            <h4>HIRE ME</h4>
        </div>
    </div>



    <hr class="section-hr section-hr--bottom"/>
</div>
