/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');


html {
    font-family: 'Lato', helvetica;
    background-color: #fff;
}

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.section-contents {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: 'Lato', helvetica;
    font-size: 2em;
    font-weight: 700;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Lato', helvetica;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.text {
    font-family: 'Lato', helvetica;
    font-size: 1.25em;
    font-weight: 400;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.section-hr {
    height: 12px;
    border: 0;
}

.section-hr--top {
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 20px;
}

.section-hr--bottom {
    box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 0;
}

.section-hr--blank {
    box-shadow: none;
}

.button {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    color: #fff;
    transition: all 1s ease;
    margin: 1vh auto;

    &:hover {
        cursor: pointer;
        background-color: #fff;
        border-color: #d86608;
        color: #d86608;
        transition: scale(.9);
    }
}
